[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
server = "python manage.py runserver"
