[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
markdown = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"
psycopg2-binary = "*"
django-hosts = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "*"

[scripts]
server = "python manage.py runserver"
migrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
