{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BladeList</title>

    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script data-search-pseudo-elements="true" defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- mobile viewing -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/ico" sizes="16x16">
    <!-- Metadata -->
    <meta name="description" content="BladeBotList">
    <meta name="author" content="Ryuga">

    <!-- custom css -->
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">

    {% block stylesheet %}{% endblock stylesheet %}

    <!-- custom js -->
    <!-- Cookie consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script>
        window.addEventListener("load", function () {
          window.cookieconsent.initialise({
            "palette": {
              "popup": {
                "background": "#212121"
              },
              "button": {
                "background": "#f44336"
              }
            },
            "position": "top",
            "static": true
          })
        });
    </script>

    <div>
        <noscript>

        <div class="topBanner" align="center">

            <span>You have disabled javascript, some features may not work correctly. Please re-enable it !</span>

        </div>

        </noscript>
    </div>

</head>

<body>

    <div class="topnav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-collapse">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="bbl's logo" class="roundpic" width="32px" height="32px"> Bladelist</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bots' %}"><i class="fas fa-robot"></i> Bots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.bladebotlist.xyz"><i class="fas fa-book"></i> Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/D3JmwgQ6Vu"><i class="fas fa-headphones"></i> Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://status.bladebotlist.xyz"><i class="fa fa-signal"></i> Status</a>
                    </li>
                </ul>
                <ul class="navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ request.user.member.avatar_url }}" class="roundpic" width="32px" height="32px">
                             {{ request.user.first_name }}#{{ request.user.member.tag }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{% url 'profile' user_id=request.user.username %}"><button class="dropdown-item nav-item"><i aria-hidden="true" class="fas fa-user-circle"></i>&nbsp;Profile</button></a>
                            <a href="{% url 'add' %}"><button class="dropdown-item nav-item"><i aria-hidden="true" class="fas fa-plus"></i>&nbsp;New Bot</button></a>
                            {% if request.user.is_staff %}
                            <div class="dropdown-divider"></div>
                            <a href="/staff"><button class="dropdown-item nav-item"><i aria-hidden="true" class="fas fa-gavel"></i>&nbsp;Staff panel</button></a>
                            <a href="/admin"><button class="dropdown-item nav-item"><i aria-hidden="true" class="fas fa-cogs"></i>&nbsp;Stats</button></a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i aria-hidden="true" class="fas fa-sign-in-alt text-danger"></i>&nbsp;Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <a href="#" onclick="popupCenter({url: '{% url "login" %}', title: 'Discord', w: 500, h: 750});"><i class="fas fa-sign-in-alt"></i> Login</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
        {% if search %}
        <div class="wavepart center"> {% if not logo_off %}<img class="lazyload roundpic center float" width=256 height=256 alt="Website logo" src="{% static 'img/logo.svg' %}">
            <h1 class="centertext wavetitle">Bladelist</h1>{% endif %}
            <form action="{% url 'bot_search' %}" method="GET">
                <h3>Search in more than <bold class="bold text-primary">1000+</bold> Discord bots</h3>
                <div>
                    <div class="beforeicon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input autocomplete="off" name="q" id="searchbox" type="text" class="bblsearchbar" placeholder=" Search a bot" data-target="autocomplete-options-1ae38207-0128-f5ed-9e8a-26265b0cda3d">
                </div>
            </form>
            <div>
                <a href="{% url 'bot_search' %}?tag=Music"><button class="btn btn-info"><i class="fas fa-music"></i>  Music</button></a>
                <a href="{% url 'bot_search' %}?tag=Economy"><button class="btn btn-info"><i class="far fa-money-bill-alt"></i>  Economy</button></a>
                <a href="{% url 'bot_search' %}?tag=Moderation"><button class="btn btn-info"><i class="fas fa-gavel"></i>  Moderation</button></a>
                <a href="{% url 'bot_search' %}?tag=Useful"><button class="btn btn-info"><i class="fas fa-box"></i>  Useful</button></a>
            </div>
        </div>
        {% endif %}
    <div class="wave wave-top"></div>

    {% block content %}{% endblock content %}


</body>
<footer>
    <div id=footer_wave class=wave></div>
    <div class="footer_container">
        <div class="row">

            <div class="col-xs-6 col-md-2 center">
                <h1>BladeBotList</h1>
                <ul class="footer-list-icons">
                    <a href="http://twitter.com/bladebotlist" class="icons icon-1"> <i class="fab fa-twitter fa-2x" style="color: #1da1f2;"></i> </a>
                    <a href="http://discord.gg/JFz45Ak" class="icons icon-1"> <i class="fab fa-discord fa-2x" style="color: #7289DA;"></i> </a>
                    <a href="http://www.github.com/bladebotlist" class="icons"><i class="fab fa-github fa-2x " style="color: white;"></i> </a>
                    <a href="mailto:contact@bladebotlist.xyz" class="icons"><i class="far fa-envelope fa-2x " style="color: white;"></i> </a>

                </ul>

            </div>

            <div class="col-xs-6 col-md-2 center">
                <ul>

                    <h2>Links</h2>
                    <ul>
                        <li>
                            <a class="text-light" href="{% url 'home' %}"><i class="fa fa-home" style="color: white;"></i> Home</a>
                        </li>

                        <li>
                            <a class="text-light" href="{% url 'bots' %}"><i class="fa fa-robot" style="color: white;"></i> Browse Bots</a>
                        </li>

                        <li>
                            <i class="fa fa-balance-scale-right" style="color: white;"></i><a class="text-light" href="{% url 'terms' %}"> Terms</a> & <a class="text-light" href="{% url 'privacy' %}">Privacy</a>
                        </li>
                    </ul>
                </ul>
            </div>

            <div class="col-xs-6 col-md-2 center">
                <ul>
                    <h2>Important Links</h2>
                    <li>
                        <a class="text-light" href="{% url 'about' %}"><i class="fa fa-lightbulb" style="color: white;"></i> About</a>
                    </li>

                    <li>
                        <a class="text-light" href="https://discordjs.guide"><i class="fas fa-robot" style="color:white;"></i> Create your own bot</a>
                    </li>

                    <li>
                        <a class="text-light" href="https://discordapp.com/developers/applications/me"><i class="fab fa-discord" style="color: white;"></i> Developers portal</a>
                    </li>

                </ul>
            </div>

            <div class="col-xs-6 col-md-3 center">

                <ul>
                    <h2>Partners</h2>
                    <li>
                        <a class="text-light" href="https://infinitybotlist.com">Infinity Bot List</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-2 center">

                <ul>
                    <h2>Dashboard</h2>

                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="text-light" href="{% url 'add' %}"><i class="fa fa-plus" style="color: white;"></i> Add Bot</a>
                    </li>
                    <li>
                        <a class="text-light" href="{% url 'profile' user_id=request.user.username %}"><i class="fa fa-user" style="color: white;"></i> Profile</a>
                    </li>
                    <li>
                        <a class="text-light" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt" style="color: white;"></i> Logout</a>
                    </li>

                    {% else %}

                    <li>
                        <a class="text-light" href="{% url 'login' %}"><i class="fa fa-sign-in-alt" style="color: white;"></i> Login</a>
                    </li>

                    {% endif %}
                </ul>
            </div>

        </div>

        <hr>
        <p class="float-right">Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> . All rights reserved.
        </p>
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% if error %}
            <script>
                notyf.error("{{error}}");
            </script>
        {% endif %}
        {% if success %}
            <script>
                notyf.success("{{success}}");
            </script>
        {% endif %}

        {% if banned %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>swal("You are banned!", "Contact administrator if this was a mistake", "error");</script>
        {% endif %}
    </div>
</footer>
</html>