{% extends 'layouts/bot_base.html' %}
{% load static %}

{% block content %}

<div class="container darker-container center">
    <h1 id=Presentation>Who are we ?</h1>
    <p>BladeBotList was created on November 16th, 2019 by <a>Hiizun Bladebotlist was handed over to nao on 25/5/2021 and the name change to Bladelist.gg</a> and friends to pass the time and enjoy a dream ! Create a powerful, fast and performant Discord Bot List 👌<br>Bladelist was designed for bot users and bot devlopers to manage with ease your bot page and create something clean and beautiful 💘</p>
    <h1 id=Goal>What's our goal ?</h1>
    <p>We wanna create the best Discord Bot List possible! Of course we are not the biggest Discord Bot List but we want create something unique and don't create a fork of an existing Discord Bot List.</p>
    <h1 id=Webmaster>Webmaster</h1>
    <p>This website is copyrighted and maintained by the original owner Nao if you need to contact it please join <a href=/discord>our official discord server</a> or by mail at <a href="/cdn-cgi/l/email-protection#e4878b8a90858790a48688858081868b90888d9790ca9c9d9e"><span class="__cf_email__" data-cfemail="fd9e9293899c9e89bd9f919c99989f928991948e89d3858487">[email&#160;protected]</span></a></p>
    <h1 id=Credits>Credits</h1>
    <p>"Bladelist.gg", "BladeBotList", "BBL", "BladeBotList.xyz" and "bladebotlist"  are trademarks of the <a href=#Webmaster>Webmaster</a> Nao using these trademarks is forbidden except a authorization by the <a href=#Webmaster>Webmaster</a><br>Bladelist uses technologies which are licenced:</p>
    <ul>
        <li><a style="color: #68A063;"><span class="iconify" data-icon="logos-django-icon" data-inline="false"></span></a><a href="https://github.com/django/django/blob/main/LICENSE"> Django (BSD License)</a></li>
        <li><a style="color: burlywood;"><i class="far fa-window-maximize"></i></a><a href=https://github.com/expressjs/express/blob/master/LICENSE> Express.js (licenced as MIT License)</a></li>
        <li><a style="color: #0099E1;"><i class="fab fa-discord"></i></a><a href=https://github.com/discordjs/discord.js/blob/master/LICENSE> Discord.js (licenced as Apache License 2.0)</a></li>
    </ul>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="557d21059af46c35e17b60f9-|49" defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"6568063b3c2bcbd4","version":"2021.5.2","r":1,"token":"6683d05ba1564622b8a5ce7ee48bd638","si":10}'></script>
{% endblock content %}
