{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container">

  <h2 class="HomeBotsText"><a><i class="fas fa-dice"></i></a> Randomly-selected discord bots</h2>

  <div class="row">
      {% for bot in random_bots %}
        <div class="col-xs-6 col-md-3">
            <div class="card center hoverable"><img class="banner lazyload" height="75px" width="100%" src="{{ bot.banner_url }}">
                <img class="roundpic lazyload cardavatar {% if bot.online %}presence-online{% else %}presence-offline{% endif %} avatarbroadcasting" width=128 height=128 src="{{ bot.avatar_url }}">
                <h2><a class="poponHover" data-toggle="popover" title="Certified Bot" data-trigger="hover" data-content="mod">{{ bot.name }}</a></h2>
                    <div>
                        <a class="badge badge-info">{{ bot.votes }} votes</a>
                        <a class="badge badge-warning">{{ bot.server_count }} servers</a>
                            {% for tag in bot.tags.all %}
                            <a class="badge badge-muted">{{ tag.name }}</a>
                            {% endfor %}
                    </div>
                    <div class="card-desc-container">
                        <p class="card-desc">{{ bot.short_desc }}</p>
                    </div>
                    <hr>
                    <div class="card-manage">
                        <a href="{% url 'bot_single' bot_id=bot.id %}"><button class="btn btn-primary mr-1">View Bot</button></a>
                        <a href="{{ bot.invite_link }}"><button class="btn btn-success">Invite Bot</button></a>
                    </div>

            </div>
        </div>
      {% endfor %}
  </div>


  <h2 class="HomeBotsText"><a><i class="fab fa-hotjar"></i></a> Trending discord bots </h2>

  <div class="row">
      {% for bot in trending_bots %}
        <div class="col-xs-6 col-md-3">
            <div class="card center hoverable"><img class="banner lazyload" height="75px" width="100%" src="{{ bot.banner_url }}">
                <img class="roundpic lazyload cardavatar {% if bot.online %}presence-online{% else %}presence-offline{% endif %} avatarbroadcasting" width=128 height=128 src="{{ bot.avatar_url }}">
                <h2><a class="poponHover" data-toggle="popover" title="Certified Bot" data-trigger="hover" data-content="mod">{{ bot.name }}</a></h2>
                    <div>
                        <a class="badge badge-info">{{ bot.votes }} votes</a>
                        <a class="badge badge-warning">{{ bot.server_count }} servers</a>
                            {% for tag in bot.tags.all %}
                            <a class="badge badge-muted">{{ tag.name }}</a>
                            {% endfor %}
                    </div>
                    <div class="card-desc-container">
                        <p class="card-desc">Test bot test test teastadadkad asd</p>
                    </div>
                    <hr>
                    <div class="card-manage">
                        <a href="{% url 'bot_single' bot_id=bot.id %}"><button class="btn btn-primary mr-1">View Bot</button></a>
                        <a href="{{ bot.invite_link }}"><button class="btn btn-success">Invite Bot</button></a>
                    </div>

            </div>
        </div>
      {% endfor %}
  </div>

  <h2 class="HomeBotsText"><a><i class="fab fa-hotjar"></i></a> Recently-added discord bots </h2>

  <div class="row">
      {% for bot in recent_bots %}
        <div class="col-xs-6 col-md-3">
            <div class="card center hoverable"><img class="banner lazyload" height="75px" width="100%" src="{{ bot.banner_url }}">
                <img class="roundpic lazyload cardavatar {% if bot.online %}presence-online{% else %}presence-offline{% endif %} avatarbroadcasting" width=128 height=128 src="{{ bot.avatar_url }}">
                <h2><a class="poponHover" data-toggle="popover" title="Certified Bot" data-trigger="hover" data-content="mod">{{ bot.name }}</a></h2>
                    <div>
                        <a class="badge badge-info">{{ bot.votes }} votes</a>
                        <a class="badge badge-warning">{{ bot.server_count }} servers</a>
                            {% for tag in bot.tags.all %}
                            <a class="badge badge-muted">{{ tag.name }}</a>
                            {% endfor %}
                    </div>
                    <div class="card-desc-container">
                        <p class="card-desc">Test bot test test teastadadkad asd</p>
                    </div>
                    <hr>
                    <div class="card-manage">
                        <a href="{% url 'bot_single' bot_id=bot.id %}"><button class="btn btn-primary mr-1">View Bot</button></a>
                        <a href="{{ bot.invite_link }}"><button class="btn btn-success">Invite Bot</button></a>
                    </div>

            </div>
        </div>
      {% endfor %}
  </div>
    <div class="text-center">
        <a class="btn-lg btn-info text-capitalize" href="{% url 'bots' %}">More trending bots</a>
    </div>
</div>
{% endblock content %}