{% extends 'layouts/bot_base.html' %}
{% load static %}

{% block content %}

<div class="container center darker-container text-left pl-2">
 <h1>Edit profile</h1>

 <form action="{% url 'edit_profile' %}" method="POST">
 {% csrf_token %}
<h3 class="ml-3">Biography</h3>
<p class="ml-3"><a style="color: red;">Note:</a> You can only write a description with few than 250 chars, advertisement and <a style="color: red;">links</a> are forbidden, advertising will give you a lifetime ban</p>
<input type="text" name="bio" maxlength="250" placeholder="Hello i'm John Doe, i'm 35 years old and i love cookies 🍪🍪" value="{% if request.user.member.meta.bio %}{{ request.user.member.meta.bio }}{% endif %}" class="text-white ml-3 ml-3">

<h3 class="ml-3">Twitter</h3>
<p class="ml-3">You must provide a valid link, not the @username !</p>
<input type="url" name="twitter" placeholder="https://twitter.com/bladelistgg" value="{% if request.user.member.meta.twitter %}{{ request.user.member.meta.twitter }}{% endif %}" class="text-white ml-3 ml-3">

<h3 class="ml-3">Facebook</h3>
<p class="ml-3">You must provide a valid link, not the username/full name !</p>
<input type="url" name="facebook" placeholder="https://facebook.com/bladelist" value="{% if request.user.member.meta.facebook %}{{ request.user.member.meta.facebook }}{% endif %}" class="text-white ml-3">

<h3 class="ml-3">GitHub</h3>
<p class="ml-3">You must provide a valid link, not the username/full name !</p>
<input type="url" name="github" placeholder="https://github.com/bladelist" value="{% if request.user.member.meta.github %}{{ request.user.member.meta.github }}{% endif %}" class="text-white ml-3">

<h3 class="ml-3">Website</h3>
<p class="ml-3">Providing a malicious/illegal website (like selling drugs/arms/malwares/cracks) will expose you to a permanent ban of the website ! <br>we can report this juridically (france) and with some conditions</p>
<input type="url" name="website" placeholder="https://nao.rip" value="{% if request.user.member.meta.website %}{{ request.user.member.meta.website }}{% endif %}" class="text-white ml-3">

<h3 class="ml-3">Reddit</h3>
<p class="ml-3">You must provide a valid link, not the username/full name !</p>
<input type="url" name="reddit" placeholder="https://reddit.com/bladelist" value="{% if request.user.member.meta.reddit %}{{ request.user.member.meta.reddit }}{% endif %}" class="text-white ml-3">



<br>
<button type="submit" class="btn btn-success ml-3"><i class="fa fa-save"></i> Submit</button>
<button type="reset" class="btn btn-danger"><i class="fas fa-sync-alt"></i> Reset settings</button>

 </form>
</div>

{% endblock content %}
