{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class=container>
    {% if object_list %}
   <h2 class="HomeBotsText">Results </h2>
    <div class=row>
      {% for bot in object_list %}
        <div class="col-xs-6 col-md-3">
            <div class="card center hoverable"><img class="banner lazyload" height="75px" width="100%" src="{{ bot.banner_url }}">
                <img class="roundpic lazyload cardavatar {% if bot.online %}presence-online{% else %}presence-offline{% endif %} avatarbroadcasting" width=128 height=128 src="{{ bot.avatar_url }}">
                <h2><a class="poponHover" data-toggle="popover" title="Certified Bot" data-trigger="hover" data-content="mod">{{ bot.name }}</a></h2>
                    <div>
                        <a class="badge badge-info">{{ bot.votes }} votes</a>
                        <a class="badge badge-warning">{{ bot.server_count }} servers</a>
                            {% for tag in bot.tags.all %}
                            <a class="badge badge-muted">{{ tag.name }}</a>
                            {% endfor %}
                    </div>
                    <div class="card-desc-container">
                        <p class="card-desc">{{ bot.short_desc }}</p>
                    </div>
                    <hr>
                    <div class="card-manage">
                        <a href="{% url 'bot_single' bot_id=bot.id %}"><button class="btn btn-primary mr-1">View Bot</button></a>
                        <a href="{{ bot.invite_link }}"><button class="btn btn-success">Invite Bot</button></a>
                        {% if request.user.member == bot.owner %}
                         <a href="{% url 'bot_edit_view' bot_id=bot.id %}"><button class="btn btn-info mt-2"><i class="fa fa-edit"></i> Edit Bot</button></a>
                        {% endif %}
                    </div>
            </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
        <h2 class="HomeBotsText">No Results Found </h2>
    {% endif %}

    <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"><button class="pagin-item btn"><i class="far fa-arrow-alt-circle-left"></i> Previous</button></a>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><button class="pagin-item btn">Next <i class="far fa-arrow-alt-circle-right"></i></button></a>
        {% endif %}
    </div>
</div>

{% endblock content %}