{% extends 'layouts/server_base.html' %}
{% load static %}

{% block content %}

      <div class="container text-white">

        <div class="bg-customdark m-5 rounded p-5">

          <h1><i class="fa fa-server" aria-hidden="true"></i> New server</h1>

              <form method="post" action="{% url 'server_add' %}">
                  {% csrf_token %}
                  <div class="form-group bg-dark rounded p-2 m-3">
                    <h3>Select your Server <a class="text-decoration-none text-danger">*</a></h3>
                    <div class="input-group" id="serverRefreshSection">
                        {% include 'refresh_pages/server_select.html' %}
                    </div>
                  </div>

                <div class="form-group bg-dark rounded p-2 m-3">
                 <h3>Select your server tags <a class="text-decoration-none text-danger">*</a></h3>
                <select class="form-select form-select bg-customdark text-white" name="server_tags" id="server_tags" required multiple>
                    {% for tag in tags %}
                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                </div>

                  <div class="form-group bg-dark rounded p-2 m-3">
                    <h3>Short description of your server <a class="text-decoration-none text-danger">*</a></h3>
                        <input type="text" class="form-control bg-customdark text-white" name="short_desc" id="shortDesc" aria-describedby="helpId" placeholder="300 characters max" required>
                  </div>

                  <div class="form-group bg-dark rounded p-2 m-3">
                    <h3>Server Invite Link <a class="text-decoration-none text-danger">*</a></h3>
                        <input type="text" class="form-control bg-customdark text-white" name="invite" id="server_invite" aria-describedby="helpId" placeholder="https://discord.gg/bbl" required>
                  </div>

                  <div class="form-group bg-dark rounded p-2 m-3">
                    <h3>Long description of your server <a class="text-decoration-none text-danger">*</a></h3>
                    <p class="text-danger">Markdown, HTML and CSS are supported.</p>
                    <div onkeyup="monacoToField();" id="longDescEditor" class="editorBackdrop"></div>
                    <textarea id="longDesc" name="long_desc" hidden style="display: none;" required></textarea>
                    <p><span id="BotLongDescCounter"></span></p>
                  </div>

                  <div class="form-group bg-dark form-check-inline rounded p-2 m-3">
                    <label class="fs-5"> Should server be marked as NSFW?</label>
                    <input type="checkbox" name="nsfw" id="" value="checkedValue" class="custom-control-input form-check-input p-2 m-2">
                  </div>

                  <div class="form-group bg-dark rounded p-2 m-3">
                      <label class="fs-5"> Add our bot to your server</label>
                      <a type="button" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=849725812877033472&permissions=243203411009&scope=bot" name="add_bot_button" class="btn-sm btn-info p-2 m-2"><i class="fa fa-plus-circle"></i> Invite</a>
                  </div>

                  <div class="form-group bg-dark rounded p-2 m-3">
                    <div class="row">
                        <button type="submit" class="btn btn-success col m-5"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                        <button type="reset" class="btn btn-danger col m-5"><i class="fas fa-sync-alt"></i> Reset</button>
                    </div>
                  </div>
              </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>


require.config({ paths: { vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs' } });

require(['vs/editor/editor.main'], function () {
 window.editor = monaco.editor.create(document.getElementById("longDescEditor"),{
    language:"markdown",
    automaticLayout: true
    });


    monaco.editor.setTheme("vs-dark");

  });

  async function monacoToField(){
    document.getElementById("longDesc").value = window.editor.getValue();
    updateLongDescLength(window.editor.getValue())
    console.log("[autosave] autosaved long desc in internal textaera")
    }

  function doSubmit() {
  monacoToField();
  }

  async function updateShortDescLength(txt) {
      let lng = txt.length;
      if(lng > 130 && lng !== 150) document.getElementById("BotShortDescCounter").style.color = "orange"
      else if(lng == 150) document.getElementById("BotShortDescCounter").style.color = "red"
      else document.getElementById("BotShortDescCounter").style.color = "white"
      document.getElementById("BotShortDescCounter").innerHTML = lng + '/150';
  }

  async function updateLongDescLength(txt) {
  let lng = txt.length;
  if(lng > 10000 && lng < 15000) document.getElementById("BotLongDescCounter").style.color = "orange"
  else if(lng >= 15000) document.getElementById("BotLongDescCounter").style.color = "red"
  else document.getElementById("BotLongDescCounter").style.color = "white"
  document.getElementById("BotLongDescCounter").innerHTML = lng + '/15000';


}


</script>

{% endblock script %}