{% extends 'layouts/server_base.html' %}
{% load static %}

{% block content %}
    <div class="container text-white">

        <div class="row text-center">

            <!-- Start of card -->
            {% for server in server_list %}
            <div class="col-xs-6 col-lg-3 col-md-3 d-flex align-items-stretch">
                <div class='card bg-dark p-2 m-3'>
                    <img class="roundpic card-logo m-auto" src="{{server.icon_url}}" width="128" height="128">
                    <h3 class="card-title">{{ server.name }}</h3>
                    <div class="tags">
                        <span class="badge rounded-pill bg-primary">{{ server.votes }} <i class="fas fa-chevron-up"></i></span>
                        <span class="badge rounded-pill bg-success">{{ server.members_online }} <i class="fas fa-circle"></i></span>
                    <br>
                        {% for tag in server.display_tags %}
                         <span class="badge rounded-pill bg-secondary">#{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <p class="card-desc">{{ server.short_desc }}</p>
                    <div class="card-buttons m-2 text-center">
                        <a href="{% url 'server_single' server_id=server.id %}"><button class="m-2 btn btn-secondary"><i class="far fa-eye"></i> View</button></a>
                        <a href="{% url 'server_invite' server_id=server.id %}"><button class="m-2 btn btn-primary"><i class="fas fa-user-plus"></i> Join</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    <div class="pagination gap-2 col-6 mx-auto m-5">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% elif search_tag %}&tag={{ search_tag }}{% endif %}"><button class="pagin-item btn btn-info"><i class="far fa-arrow-alt-circle-left"></i> Previous</button></a>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% elif search_tag %}&tag={{ search_tag }}{% endif %}"><button class="pagin-item btn btn-info">Next <i class="far fa-arrow-alt-circle-right"></i></button></a>
        {% endif %}
    </div>
    </div>
{% endblock content %}

