{% extends 'layouts/bot_base.html' %}
{% load static %}

{% block content %}

   <div class="container darker-container center" id="verificationQueue">
        {% include 'refresh_pages/queue.html' %}
    </div>

<!-- Modal -->
<div class="modal fade" id="verifyBotModalCenter" tabindex="-1" role="dialog" aria-labelledby="verifyBotModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <h5 class="modal-title text-white ml--2" id="verifyBotModalCenterTitle"><i class="fa fa-check"></i> Approve this bot</h5>
      <div class="modal-body">
          <p class="text-white">Are you sure you want to approve this bot?</p>
            <input type="hidden" id="verifyBotId">
      </div>
      <div class="modal-footer bg-transparent">
        <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Close</button>
        <button type="button" bot_id="{{ bot.id }}" class="btn btn-success verifyBotBtn" data-dismiss="modal">Approve</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="rejectBotModalCenter" tabindex="-1" role="dialog" aria-labelledby="rejectBotModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <h5 class="modal-title text-white ml--2" id="rejectBotModalCenterTitle"><i class="fa fa-times"></i> Reject this bot</h5>
      <div class="modal-body">
        <p>Are you sure you want to reject this bot?</p><br><br>
        <label>Enter Reason</label>
        <input type="text" class="form-control" id="rejectBotReason" required>
        <input type="hidden" id="rejectBotId">
      </div>
      <div class="modal-footer bg-transparent">
        <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Close</button>
        <button type="button" bot_id="{{ bot.id }}" class="btn btn-danger rejectBotBtn" data-dismiss="modal">Reject</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="banBotModalCenter" tabindex="-1" role="dialog" aria-labelledby="banBotModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <h5 class="modal-title text-white ml--2" id="banBotModalCenterTitle"><i class="fa fa-ban"></i> Ban this bot</h5>
      <div class="modal-body">
        <p>Are you sure you want to ban this bot?</p><br><br>
        <label>Enter Reason</label>
        <input type="text" class="form-control" id="banBotReason" required>
        <input type="hidden" id="banBotId">
      </div>
      <div class="modal-footer bg-transparent">
        <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Close</button>
        <button type="button" bot_id="{{ bot.id }}" class="btn btn-danger banBotBtn" data-dismiss="modal">Ban</button>
      </div>
    </div>
  </div>
</div>

<script>
function setBotId(elementId, botId){
    document.getElementById(elementId).value = botId;
}
</script>

{% endblock content %}